/* General rules */

html {
    font-family: 'Oswald', serif;
    font-size: 20px;
    background-color: #016b6b;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

body {
    overflow-x: hidden;
}

/* Navigation bar */

nav {
    width: 100%;
    height: auto;
    min-height: 5rem;
    padding: 0.5em;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

nav > * {
    margin: auto 2rem;
}

nav h1, a {
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: auto 0.5rem;
}

nav ul li a {
    text-decoration: none;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 1em;
}

.title img {
    max-width: auto;
    height: 2em;
    object-fit: cover;
}

@media screen and (max-width: 1000px){
    nav .title {
        width: 110%;
        justify-content: space-between;
    }

    nav ul {
        display: none;
    }

    nav h1 {
        font-size: 2em;
    }
}

/* Main */

main {
    margin-top: 5rem;
}

/* Header */

header {
    height: 40em;

    background-image: url("../images/banner/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    display: flex;
    align-items: center;
    justify-content: left;
}

.missionStatement {
    background-color: black;
    width: 30%;
    padding: 3em;
    text-align: center;
    margin-left: 4em;
    border-radius: 5px;
}

@media screen and (max-width: 1200px){
    header {
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../images/banner/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right top;
        justify-content: center;
    }

    .missionStatement {
        margin-left: 0;
        width: 75%;
    }
}

.missionStatement h1, .missionStatement h2 {
    line-height: 1.2em;
    color: white;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section > h1 {
    margin-bottom: 0.25em;
}

/* Services */

#services .gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0;
    column-gap: 1em;

    max-width: 75em;
}

#services .galleryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0.5em;
    row-gap: 0.5em;
}

#services .galleryItem > img {
    /* float: left; */
    width:  20em;
    height: 12em;
    object-fit: cover;
    border: black solid 0.1em;
    border-radius: 0.3em;
}

/* Past Projects */

#pastProjects {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2em;

    background-color: black;
}

#pastProjects h1 {
    color: white;
}

#pastProjects h2, #pastProjects p {
    color: black;
}

.project {
    display: flex;
    flex-flow: row nowrap;
    max-width: 40em;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    background-color: #016b6b;
    padding: 2em;
    border-radius: 5px;
    border: white solid 0.2em;
}

.project .gallery {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.project .gallery img {
    /* float: left; */
    width:  20em;
    height: 12em;
    object-fit: cover;
    border: black solid 0.1em;
    border-radius: 0.3em;
}

.project .description {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    row-gap: 1em;
}

.project .description > * {
    max-width: 50em;
}

@media screen and (max-width: 1000px){
    .project {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1em;
        max-width: 90%;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        background-color: #016b6b;
        padding: 2em;
        border-radius: 5px;
        border: white solid 0.2em;
    }
    
    .project .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 1em;
    }
    
    .project .gallery img {
        /* float: left; */
        width: 90%;
        max-height: 70%;
        object-fit: cover;
        border: black solid 0.1em;
        border-radius: 0.3em;
    }
    
    .project .description {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        row-gap: 1em;
    }
    
    .project .description > * {
        max-width: 50em;
    }
}


/* About */

#about {
    display: flex;
    flex-flow: column nowrap;
}

#about h1 {
    margin-bottom: 0.5em;
}

#about .gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: 3em;
    row-gap: 1em;
}

.owner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: black;
    padding: 1em;
    border-radius: 5px;
}

.owner h2, .owner p {
    color: white;
}

.owner .description {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    row-gap: 1em;
    max-width: 12em;
}

.owner img {
    width: 10em;
    height: 14em;
    object-fit: cover;
    border: black solid 0.1em;
    border-radius: 5px;
}

.owner .description > * {
    /* max-width: 5em; */
}

/* Contact */

#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../images/contact/houseBottom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactBlock {
    background-color: black;
    width: 50%;
    padding: 2em;
    text-align: center;
    border-radius: 5px;

}

.contactBlock * {
    color: white;
    margin: 0.5em auto;
}